/*! 8-point */
.m-0\!{margin:0 !important }
.m-1\!{margin:8px !important }
.m-2\!{margin:16px !important }
.m-3\!{margin:24px !important }
.m-4\!{margin:32px !important }
.m-5\!{margin:40px !important }
.m-6\!{margin:48px !important }
.m-7\!{margin:56px !important }
.m-8\!{margin:64px !important }
.my-0\!{margin-top:0;margin-bottom:0 !important }
.my-1\!{margin-top:8px;margin-bottom:8px !important }
.my-2\!{margin-top:16px;margin-bottom:16px !important }
.my-3\!{margin-top:24px;margin-bottom:24px !important }
.my-4\!{margin-top:32px;margin-bottom:32px !important }
.my-5\!{margin-top:40px;margin-bottom:40px !important }
.my-6\!{margin-top:48px;margin-bottom:48px !important }
.my-7\!{margin-top:56px;margin-bottom:56px !important }
.my-8\!{margin-top:64px;margin-bottom:64px !important }
.mx-0\!{margin-right:0;margin-left:0 !important }
.mx-1\!{margin-right:8px;margin-left:8px !important }
.mx-2\!{margin-right:16px;margin-left:16px !important }
.mx-3\!{margin-right:24px;margin-left:24px !important }
.mx-4\!{margin-right:32px;margin-left:32px !important }
.mx-5\!{margin-right:40px;margin-left:40px !important }
.mx-6\!{margin-right:48px;margin-left:48px !important }
.mx-7\!{margin-right:56px;margin-left:56px !important }
.mx-8\!{margin-right:64px;margin-left:64px !important }
.mt-0\!{margin-top:0 !important }
.mt-1\!{margin-top:8px !important }
.mt-2\!{margin-top:16px !important }
.mt-3\!{margin-top:24px !important }
.mt-4\!{margin-top:32px !important }
.mt-5\!{margin-top:40px !important }
.mt-6\!{margin-top:48px !important }
.mt-7\!{margin-top:56px !important }
.mt-8\!{margin-top:64px !important }
.mr-0\!{margin-right:0 !important }
.mr-1\!{margin-right:8px !important }
.mr-2\!{margin-right:16px !important }
.mr-3\!{margin-right:24px !important }
.mr-4\!{margin-right:32px !important }
.mr-5\!{margin-right:40px !important }
.mr-6\!{margin-right:48px !important }
.mr-7\!{margin-right:56px !important }
.mr-8\!{margin-right:64px !important }
.mb-0\!{margin-bottom:0 !important }
.mb-1\!{margin-bottom:8px !important }
.mb-2\!{margin-bottom:16px !important }
.mb-3\!{margin-bottom:24px !important }
.mb-4\!{margin-bottom:32px !important }
.mb-5\!{margin-bottom:40px !important }
.mb-6\!{margin-bottom:48px !important }
.mb-7\!{margin-bottom:56px !important }
.mb-8\!{margin-bottom:64px !important }
.ml-0\!{margin-left:0 !important }
.ml-1\!{margin-left:8px !important }
.ml-2\!{margin-left:16px !important }
.ml-3\!{margin-left:24px !important }
.ml-4\!{margin-left:32px !important }
.ml-5\!{margin-left:40px !important }
.ml-6\!{margin-left:48px !important }
.ml-7\!{margin-left:56px !important }
.ml-8\!{margin-left:64px !important }
.p-0\!{padding:0 !important }
.p-1\!{padding:8px !important }
.p-2\!{padding:16px !important }
.p-3\!{padding:24px !important }
.p-4\!{padding:32px !important }
.p-5\!{padding:40px !important }
.p-6\!{padding:48px !important }
.p-7\!{padding:56px !important }
.p-8\!{padding:64px !important }
.py-0\!{padding-top:0;padding-bottom:0 !important }
.py-1\!{padding-top:8px;padding-bottom:8px !important }
.py-2\!{padding-top:16px;padding-bottom:16px !important }
.py-3\!{padding-top:24px;padding-bottom:24px !important }
.py-4\!{padding-top:32px;padding-bottom:32px !important }
.py-5\!{padding-top:40px;padding-bottom:40px !important }
.py-6\!{padding-top:48px;padding-bottom:48px !important }
.py-7\!{padding-top:56px;padding-bottom:56px !important }
.py-8\!{padding-top:64px;padding-bottom:64px !important }
.px-0\!{padding-right:0;padding-left:0 !important }
.px-1\!{padding-right:8px;padding-left:8px !important }
.px-2\!{padding-right:16px;padding-left:16px !important }
.px-3\!{padding-right:24px;padding-left:24px !important }
.px-4\!{padding-right:32px;padding-left:32px !important }
.px-5\!{padding-right:40px;padding-left:40px !important }
.px-6\!{padding-right:48px;padding-left:48px !important }
.px-7\!{padding-right:56px;padding-left:56px !important }
.px-8\!{padding-right:64px;padding-left:64px !important }
.pt-0\!{padding-top:0 !important }
.pt-1\!{padding-top:8px !important }
.pt-2\!{padding-top:16px !important }
.pt-3\!{padding-top:24px !important }
.pt-4\!{padding-top:32px !important }
.pt-5\!{padding-top:40px !important }
.pt-6\!{padding-top:48px !important }
.pt-7\!{padding-top:56px !important }
.pt-8\!{padding-top:64px !important }
.pr-0\!{padding-right:0 !important }
.pr-1\!{padding-right:8px !important }
.pr-2\!{padding-right:16px !important }
.pr-3\!{padding-right:24px !important }
.pr-4\!{padding-right:32px !important }
.pr-5\!{padding-right:40px !important }
.pr-6\!{padding-right:48px !important }
.pr-7\!{padding-right:56px !important }
.pr-8\!{padding-right:64px !important }
.pb-0\!{padding-bottom:0 !important }
.pb-1\!{padding-bottom:8px !important }
.pb-2\!{padding-bottom:16px !important }
.pb-3\!{padding-bottom:24px !important }
.pb-4\!{padding-bottom:32px !important }
.pb-5\!{padding-bottom:40px !important }
.pb-6\!{padding-bottom:48px !important }
.pb-7\!{padding-bottom:56px !important }
.pb-8\!{padding-bottom:64px !important }
.pl-0\!{padding-left:0 !important }
.pl-1\!{padding-left:8px !important }
.pl-2\!{padding-left:16px !important }
.pl-3\!{padding-left:24px !important }
.pl-4\!{padding-left:32px !important }
.pl-5\!{padding-left:40px !important }
.pl-6\!{padding-left:48px !important }
.pl-7\!{padding-left:56px !important }
.pl-8\!{padding-left:64px !important }
.t-0\!{top:0 !important }
.t-1\!{top:8px !important }
.t-2\!{top:16px !important }
.t-3\!{top:24px !important }
.t-4\!{top:32px !important }
.t-5\!{top:40px !important }
.t-6\!{top:48px !important }
.t-7\!{top:56px !important }
.t-8\!{top:64px !important }
.r-0\!{right:0 !important }
.r-1\!{right:8px !important }
.r-2\!{right:16px !important }
.r-3\!{right:24px !important }
.r-4\!{right:32px !important }
.r-5\!{right:40px !important }
.r-6\!{right:48px !important }
.r-7\!{right:56px !important }
.r-8\!{right:64px !important }
.b-0\!{bottom:0 !important }
.b-1\!{bottom:8px !important }
.b-2\!{bottom:16px !important }
.b-3\!{bottom:24px !important }
.b-4\!{bottom:32px !important }
.b-5\!{bottom:40px !important }
.b-6\!{bottom:48px !important }
.b-7\!{bottom:56px !important }
.b-8\!{bottom:64px !important }
.l-0\!{left:0 !important }
.l-1\!{left:8px !important }
.l-2\!{left:16px !important }
.l-3\!{left:24px !important }
.l-4\!{left:32px !important }
.l-5\!{left:40px !important }
.l-6\!{left:48px !important }
.l-7\!{left:56px !important }
.l-8\!{left:64px !important }
.s-1\!{width:8px;height:8px !important }
.s-2\!{width:16px;height:16px !important }
.s-3\!{width:24px;height:24px !important }
.s-4\!{width:32px;height:32px !important }
.s-5\!{width:40px;height:40px !important }
.s-6\!{width:48px;height:48px !important }
.s-7\!{width:56px;height:56px !important }
.s-8\!{width:64px;height:64px !important }
.w-1\!{width:8px !important }
.w-2\!{width:16px !important }
.w-3\!{width:24px !important }
.w-4\!{width:32px !important }
.w-5\!{width:40px !important }
.w-6\!{width:48px !important }
.w-7\!{width:56px !important }
.w-8\!{width:64px !important }
.h-1\!{height:8px !important }
.h-2\!{height:16px !important }
.h-3\!{height:24px !important }
.h-4\!{height:32px !important }
.h-5\!{height:40px !important }
.h-6\!{height:48px !important }
.h-7\!{height:56px !important }
.h-8\!{height:64px !important }
