/*! 8_point */
.m_0 > * {margin:0}
.m_1 > * {margin:8px}
.m_2 > * {margin:16px}
.m_3 > * {margin:24px}
.m_4 > * {margin:32px}
.m_5 > * {margin:40px}
.m_6 > * {margin:48px}
.m_7 > * {margin:56px}
.m_8 > * {margin:64px}
.my_0 > * {margin-top:0;margin-bottom:0}
.my_1 > * {margin-top:8px;margin-bottom:8px}
.my_2 > * {margin-top:16px;margin-bottom:16px}
.my_3 > * {margin-top:24px;margin-bottom:24px}
.my_4 > * {margin-top:32px;margin-bottom:32px}
.my_5 > * {margin-top:40px;margin-bottom:40px}
.my_6 > * {margin-top:48px;margin-bottom:48px}
.my_7 > * {margin-top:56px;margin-bottom:56px}
.my_8 > * {margin-top:64px;margin-bottom:64px}
.mx_0 > * {margin-right:0;margin-left:0}
.mx_1 > * {margin-right:8px;margin-left:8px}
.mx_2 > * {margin-right:16px;margin-left:16px}
.mx_3 > * {margin-right:24px;margin-left:24px}
.mx_4 > * {margin-right:32px;margin-left:32px}
.mx_5 > * {margin-right:40px;margin-left:40px}
.mx_6 > * {margin-right:48px;margin-left:48px}
.mx_7 > * {margin-right:56px;margin-left:56px}
.mx_8 > * {margin-right:64px;margin-left:64px}
.mt_0 > * {margin-top:0}
.mt_1 > * {margin-top:8px}
.mt_2 > * {margin-top:16px}
.mt_3 > * {margin-top:24px}
.mt_4 > * {margin-top:32px}
.mt_5 > * {margin-top:40px}
.mt_6 > * {margin-top:48px}
.mt_7 > * {margin-top:56px}
.mt_8 > * {margin-top:64px}
.mr_0 > * {margin-right:0}
.mr_1 > * {margin-right:8px}
.mr_2 > * {margin-right:16px}
.mr_3 > * {margin-right:24px}
.mr_4 > * {margin-right:32px}
.mr_5 > * {margin-right:40px}
.mr_6 > * {margin-right:48px}
.mr_7 > * {margin-right:56px}
.mr_8 > * {margin-right:64px}
.mb_0 > * {margin-bottom:0}
.mb_1 > * {margin-bottom:8px}
.mb_2 > * {margin-bottom:16px}
.mb_3 > * {margin-bottom:24px}
.mb_4 > * {margin-bottom:32px}
.mb_5 > * {margin-bottom:40px}
.mb_6 > * {margin-bottom:48px}
.mb_7 > * {margin-bottom:56px}
.mb_8 > * {margin-bottom:64px}
.ml_0 > * {margin-left:0}
.ml_1 > * {margin-left:8px}
.ml_2 > * {margin-left:16px}
.ml_3 > * {margin-left:24px}
.ml_4 > * {margin-left:32px}
.ml_5 > * {margin-left:40px}
.ml_6 > * {margin-left:48px}
.ml_7 > * {margin-left:56px}
.ml_8 > * {margin-left:64px}
.p_0 > * {padding:0}
.p_1 > * {padding:8px}
.p_2 > * {padding:16px}
.p_3 > * {padding:24px}
.p_4 > * {padding:32px}
.p_5 > * {padding:40px}
.p_6 > * {padding:48px}
.p_7 > * {padding:56px}
.p_8 > * {padding:64px}
.py_0 > * {padding-top:0;padding-bottom:0}
.py_1 > * {padding-top:8px;padding-bottom:8px}
.py_2 > * {padding-top:16px;padding-bottom:16px}
.py_3 > * {padding-top:24px;padding-bottom:24px}
.py_4 > * {padding-top:32px;padding-bottom:32px}
.py_5 > * {padding-top:40px;padding-bottom:40px}
.py_6 > * {padding-top:48px;padding-bottom:48px}
.py_7 > * {padding-top:56px;padding-bottom:56px}
.py_8 > * {padding-top:64px;padding-bottom:64px}
.px_0 > * {padding-right:0;padding-left:0}
.px_1 > * {padding-right:8px;padding-left:8px}
.px_2 > * {padding-right:16px;padding-left:16px}
.px_3 > * {padding-right:24px;padding-left:24px}
.px_4 > * {padding-right:32px;padding-left:32px}
.px_5 > * {padding-right:40px;padding-left:40px}
.px_6 > * {padding-right:48px;padding-left:48px}
.px_7 > * {padding-right:56px;padding-left:56px}
.px_8 > * {padding-right:64px;padding-left:64px}
.pt_0 > * {padding-top:0}
.pt_1 > * {padding-top:8px}
.pt_2 > * {padding-top:16px}
.pt_3 > * {padding-top:24px}
.pt_4 > * {padding-top:32px}
.pt_5 > * {padding-top:40px}
.pt_6 > * {padding-top:48px}
.pt_7 > * {padding-top:56px}
.pt_8 > * {padding-top:64px}
.pr_0 > * {padding-right:0}
.pr_1 > * {padding-right:8px}
.pr_2 > * {padding-right:16px}
.pr_3 > * {padding-right:24px}
.pr_4 > * {padding-right:32px}
.pr_5 > * {padding-right:40px}
.pr_6 > * {padding-right:48px}
.pr_7 > * {padding-right:56px}
.pr_8 > * {padding-right:64px}
.pb_0 > * {padding-bottom:0}
.pb_1 > * {padding-bottom:8px}
.pb_2 > * {padding-bottom:16px}
.pb_3 > * {padding-bottom:24px}
.pb_4 > * {padding-bottom:32px}
.pb_5 > * {padding-bottom:40px}
.pb_6 > * {padding-bottom:48px}
.pb_7 > * {padding-bottom:56px}
.pb_8 > * {padding-bottom:64px}
.pl_0 > * {padding-left:0}
.pl_1 > * {padding-left:8px}
.pl_2 > * {padding-left:16px}
.pl_3 > * {padding-left:24px}
.pl_4 > * {padding-left:32px}
.pl_5 > * {padding-left:40px}
.pl_6 > * {padding-left:48px}
.pl_7 > * {padding-left:56px}
.pl_8 > * {padding-left:64px}
.t_0 > * {top:0}
.t_1 > * {top:8px}
.t_2 > * {top:16px}
.t_3 > * {top:24px}
.t_4 > * {top:32px}
.t_5 > * {top:40px}
.t_6 > * {top:48px}
.t_7 > * {top:56px}
.t_8 > * {top:64px}
.r_0 > * {right:0}
.r_1 > * {right:8px}
.r_2 > * {right:16px}
.r_3 > * {right:24px}
.r_4 > * {right:32px}
.r_5 > * {right:40px}
.r_6 > * {right:48px}
.r_7 > * {right:56px}
.r_8 > * {right:64px}
.b_0 > * {bottom:0}
.b_1 > * {bottom:8px}
.b_2 > * {bottom:16px}
.b_3 > * {bottom:24px}
.b_4 > * {bottom:32px}
.b_5 > * {bottom:40px}
.b_6 > * {bottom:48px}
.b_7 > * {bottom:56px}
.b_8 > * {bottom:64px}
.l_0 > * {left:0}
.l_1 > * {left:8px}
.l_2 > * {left:16px}
.l_3 > * {left:24px}
.l_4 > * {left:32px}
.l_5 > * {left:40px}
.l_6 > * {left:48px}
.l_7 > * {left:56px}
.l_8 > * {left:64px}
.s_1 > * {width:8px;height:8px}
.s_2 > * {width:16px;height:16px}
.s_3 > * {width:24px;height:24px}
.s_4 > * {width:32px;height:32px}
.s_5 > * {width:40px;height:40px}
.s_6 > * {width:48px;height:48px}
.s_7 > * {width:56px;height:56px}
.s_8 > * {width:64px;height:64px}
.w_1 > * {width:8px}
.w_2 > * {width:16px}
.w_3 > * {width:24px}
.w_4 > * {width:32px}
.w_5 > * {width:40px}
.w_6 > * {width:48px}
.w_7 > * {width:56px}
.w_8 > * {width:64px}
.h_1 > * {height:8px}
.h_2 > * {height:16px}
.h_3 > * {height:24px}
.h_4 > * {height:32px}
.h_5 > * {height:40px}
.h_6 > * {height:48px}
.h_7 > * {height:56px}
.h_8 > * {height:64px}
