/*! 8-point */
@media(min-width:960px){
.m-0\@lg{margin:0}
.m-1\@lg{margin:8px}
.m-2\@lg{margin:16px}
.m-3\@lg{margin:24px}
.m-4\@lg{margin:32px}
.m-5\@lg{margin:40px}
.m-6\@lg{margin:48px}
.m-7\@lg{margin:56px}
.m-8\@lg{margin:64px}
.my-0\@lg{margin-top:0;margin-bottom:0}
.my-1\@lg{margin-top:8px;margin-bottom:8px}
.my-2\@lg{margin-top:16px;margin-bottom:16px}
.my-3\@lg{margin-top:24px;margin-bottom:24px}
.my-4\@lg{margin-top:32px;margin-bottom:32px}
.my-5\@lg{margin-top:40px;margin-bottom:40px}
.my-6\@lg{margin-top:48px;margin-bottom:48px}
.my-7\@lg{margin-top:56px;margin-bottom:56px}
.my-8\@lg{margin-top:64px;margin-bottom:64px}
.mx-0\@lg{margin-right:0;margin-left:0}
.mx-1\@lg{margin-right:8px;margin-left:8px}
.mx-2\@lg{margin-right:16px;margin-left:16px}
.mx-3\@lg{margin-right:24px;margin-left:24px}
.mx-4\@lg{margin-right:32px;margin-left:32px}
.mx-5\@lg{margin-right:40px;margin-left:40px}
.mx-6\@lg{margin-right:48px;margin-left:48px}
.mx-7\@lg{margin-right:56px;margin-left:56px}
.mx-8\@lg{margin-right:64px;margin-left:64px}
.mt-0\@lg{margin-top:0}
.mt-1\@lg{margin-top:8px}
.mt-2\@lg{margin-top:16px}
.mt-3\@lg{margin-top:24px}
.mt-4\@lg{margin-top:32px}
.mt-5\@lg{margin-top:40px}
.mt-6\@lg{margin-top:48px}
.mt-7\@lg{margin-top:56px}
.mt-8\@lg{margin-top:64px}
.mr-0\@lg{margin-right:0}
.mr-1\@lg{margin-right:8px}
.mr-2\@lg{margin-right:16px}
.mr-3\@lg{margin-right:24px}
.mr-4\@lg{margin-right:32px}
.mr-5\@lg{margin-right:40px}
.mr-6\@lg{margin-right:48px}
.mr-7\@lg{margin-right:56px}
.mr-8\@lg{margin-right:64px}
.mb-0\@lg{margin-bottom:0}
.mb-1\@lg{margin-bottom:8px}
.mb-2\@lg{margin-bottom:16px}
.mb-3\@lg{margin-bottom:24px}
.mb-4\@lg{margin-bottom:32px}
.mb-5\@lg{margin-bottom:40px}
.mb-6\@lg{margin-bottom:48px}
.mb-7\@lg{margin-bottom:56px}
.mb-8\@lg{margin-bottom:64px}
.ml-0\@lg{margin-left:0}
.ml-1\@lg{margin-left:8px}
.ml-2\@lg{margin-left:16px}
.ml-3\@lg{margin-left:24px}
.ml-4\@lg{margin-left:32px}
.ml-5\@lg{margin-left:40px}
.ml-6\@lg{margin-left:48px}
.ml-7\@lg{margin-left:56px}
.ml-8\@lg{margin-left:64px}
.p-0\@lg{padding:0}
.p-1\@lg{padding:8px}
.p-2\@lg{padding:16px}
.p-3\@lg{padding:24px}
.p-4\@lg{padding:32px}
.p-5\@lg{padding:40px}
.p-6\@lg{padding:48px}
.p-7\@lg{padding:56px}
.p-8\@lg{padding:64px}
.py-0\@lg{padding-top:0;padding-bottom:0}
.py-1\@lg{padding-top:8px;padding-bottom:8px}
.py-2\@lg{padding-top:16px;padding-bottom:16px}
.py-3\@lg{padding-top:24px;padding-bottom:24px}
.py-4\@lg{padding-top:32px;padding-bottom:32px}
.py-5\@lg{padding-top:40px;padding-bottom:40px}
.py-6\@lg{padding-top:48px;padding-bottom:48px}
.py-7\@lg{padding-top:56px;padding-bottom:56px}
.py-8\@lg{padding-top:64px;padding-bottom:64px}
.px-0\@lg{padding-right:0;padding-left:0}
.px-1\@lg{padding-right:8px;padding-left:8px}
.px-2\@lg{padding-right:16px;padding-left:16px}
.px-3\@lg{padding-right:24px;padding-left:24px}
.px-4\@lg{padding-right:32px;padding-left:32px}
.px-5\@lg{padding-right:40px;padding-left:40px}
.px-6\@lg{padding-right:48px;padding-left:48px}
.px-7\@lg{padding-right:56px;padding-left:56px}
.px-8\@lg{padding-right:64px;padding-left:64px}
.pt-0\@lg{padding-top:0}
.pt-1\@lg{padding-top:8px}
.pt-2\@lg{padding-top:16px}
.pt-3\@lg{padding-top:24px}
.pt-4\@lg{padding-top:32px}
.pt-5\@lg{padding-top:40px}
.pt-6\@lg{padding-top:48px}
.pt-7\@lg{padding-top:56px}
.pt-8\@lg{padding-top:64px}
.pr-0\@lg{padding-right:0}
.pr-1\@lg{padding-right:8px}
.pr-2\@lg{padding-right:16px}
.pr-3\@lg{padding-right:24px}
.pr-4\@lg{padding-right:32px}
.pr-5\@lg{padding-right:40px}
.pr-6\@lg{padding-right:48px}
.pr-7\@lg{padding-right:56px}
.pr-8\@lg{padding-right:64px}
.pb-0\@lg{padding-bottom:0}
.pb-1\@lg{padding-bottom:8px}
.pb-2\@lg{padding-bottom:16px}
.pb-3\@lg{padding-bottom:24px}
.pb-4\@lg{padding-bottom:32px}
.pb-5\@lg{padding-bottom:40px}
.pb-6\@lg{padding-bottom:48px}
.pb-7\@lg{padding-bottom:56px}
.pb-8\@lg{padding-bottom:64px}
.pl-0\@lg{padding-left:0}
.pl-1\@lg{padding-left:8px}
.pl-2\@lg{padding-left:16px}
.pl-3\@lg{padding-left:24px}
.pl-4\@lg{padding-left:32px}
.pl-5\@lg{padding-left:40px}
.pl-6\@lg{padding-left:48px}
.pl-7\@lg{padding-left:56px}
.pl-8\@lg{padding-left:64px}
.t-0\@lg{top:0}
.t-1\@lg{top:8px}
.t-2\@lg{top:16px}
.t-3\@lg{top:24px}
.t-4\@lg{top:32px}
.t-5\@lg{top:40px}
.t-6\@lg{top:48px}
.t-7\@lg{top:56px}
.t-8\@lg{top:64px}
.r-0\@lg{right:0}
.r-1\@lg{right:8px}
.r-2\@lg{right:16px}
.r-3\@lg{right:24px}
.r-4\@lg{right:32px}
.r-5\@lg{right:40px}
.r-6\@lg{right:48px}
.r-7\@lg{right:56px}
.r-8\@lg{right:64px}
.b-0\@lg{bottom:0}
.b-1\@lg{bottom:8px}
.b-2\@lg{bottom:16px}
.b-3\@lg{bottom:24px}
.b-4\@lg{bottom:32px}
.b-5\@lg{bottom:40px}
.b-6\@lg{bottom:48px}
.b-7\@lg{bottom:56px}
.b-8\@lg{bottom:64px}
.l-0\@lg{left:0}
.l-1\@lg{left:8px}
.l-2\@lg{left:16px}
.l-3\@lg{left:24px}
.l-4\@lg{left:32px}
.l-5\@lg{left:40px}
.l-6\@lg{left:48px}
.l-7\@lg{left:56px}
.l-8\@lg{left:64px}
.s-1\@lg{width:8px;height:8px}
.s-2\@lg{width:16px;height:16px}
.s-3\@lg{width:24px;height:24px}
.s-4\@lg{width:32px;height:32px}
.s-5\@lg{width:40px;height:40px}
.s-6\@lg{width:48px;height:48px}
.s-7\@lg{width:56px;height:56px}
.s-8\@lg{width:64px;height:64px}
.w-1\@lg{width:8px}
.w-2\@lg{width:16px}
.w-3\@lg{width:24px}
.w-4\@lg{width:32px}
.w-5\@lg{width:40px}
.w-6\@lg{width:48px}
.w-7\@lg{width:56px}
.w-8\@lg{width:64px}
.h-1\@lg{height:8px}
.h-2\@lg{height:16px}
.h-3\@lg{height:24px}
.h-4\@lg{height:32px}
.h-5\@lg{height:40px}
.h-6\@lg{height:48px}
.h-7\@lg{height:56px}
.h-8\@lg{height:64px}
}
