/*! 8-point */
@media(min-width:700px){
.m-0\@md{margin:0}
.m-1\@md{margin:8px}
.m-2\@md{margin:16px}
.m-3\@md{margin:24px}
.m-4\@md{margin:32px}
.m-5\@md{margin:40px}
.m-6\@md{margin:48px}
.m-7\@md{margin:56px}
.m-8\@md{margin:64px}
.my-0\@md{margin-top:0;margin-bottom:0}
.my-1\@md{margin-top:8px;margin-bottom:8px}
.my-2\@md{margin-top:16px;margin-bottom:16px}
.my-3\@md{margin-top:24px;margin-bottom:24px}
.my-4\@md{margin-top:32px;margin-bottom:32px}
.my-5\@md{margin-top:40px;margin-bottom:40px}
.my-6\@md{margin-top:48px;margin-bottom:48px}
.my-7\@md{margin-top:56px;margin-bottom:56px}
.my-8\@md{margin-top:64px;margin-bottom:64px}
.mx-0\@md{margin-right:0;margin-left:0}
.mx-1\@md{margin-right:8px;margin-left:8px}
.mx-2\@md{margin-right:16px;margin-left:16px}
.mx-3\@md{margin-right:24px;margin-left:24px}
.mx-4\@md{margin-right:32px;margin-left:32px}
.mx-5\@md{margin-right:40px;margin-left:40px}
.mx-6\@md{margin-right:48px;margin-left:48px}
.mx-7\@md{margin-right:56px;margin-left:56px}
.mx-8\@md{margin-right:64px;margin-left:64px}
.mt-0\@md{margin-top:0}
.mt-1\@md{margin-top:8px}
.mt-2\@md{margin-top:16px}
.mt-3\@md{margin-top:24px}
.mt-4\@md{margin-top:32px}
.mt-5\@md{margin-top:40px}
.mt-6\@md{margin-top:48px}
.mt-7\@md{margin-top:56px}
.mt-8\@md{margin-top:64px}
.mr-0\@md{margin-right:0}
.mr-1\@md{margin-right:8px}
.mr-2\@md{margin-right:16px}
.mr-3\@md{margin-right:24px}
.mr-4\@md{margin-right:32px}
.mr-5\@md{margin-right:40px}
.mr-6\@md{margin-right:48px}
.mr-7\@md{margin-right:56px}
.mr-8\@md{margin-right:64px}
.mb-0\@md{margin-bottom:0}
.mb-1\@md{margin-bottom:8px}
.mb-2\@md{margin-bottom:16px}
.mb-3\@md{margin-bottom:24px}
.mb-4\@md{margin-bottom:32px}
.mb-5\@md{margin-bottom:40px}
.mb-6\@md{margin-bottom:48px}
.mb-7\@md{margin-bottom:56px}
.mb-8\@md{margin-bottom:64px}
.ml-0\@md{margin-left:0}
.ml-1\@md{margin-left:8px}
.ml-2\@md{margin-left:16px}
.ml-3\@md{margin-left:24px}
.ml-4\@md{margin-left:32px}
.ml-5\@md{margin-left:40px}
.ml-6\@md{margin-left:48px}
.ml-7\@md{margin-left:56px}
.ml-8\@md{margin-left:64px}
.p-0\@md{padding:0}
.p-1\@md{padding:8px}
.p-2\@md{padding:16px}
.p-3\@md{padding:24px}
.p-4\@md{padding:32px}
.p-5\@md{padding:40px}
.p-6\@md{padding:48px}
.p-7\@md{padding:56px}
.p-8\@md{padding:64px}
.py-0\@md{padding-top:0;padding-bottom:0}
.py-1\@md{padding-top:8px;padding-bottom:8px}
.py-2\@md{padding-top:16px;padding-bottom:16px}
.py-3\@md{padding-top:24px;padding-bottom:24px}
.py-4\@md{padding-top:32px;padding-bottom:32px}
.py-5\@md{padding-top:40px;padding-bottom:40px}
.py-6\@md{padding-top:48px;padding-bottom:48px}
.py-7\@md{padding-top:56px;padding-bottom:56px}
.py-8\@md{padding-top:64px;padding-bottom:64px}
.px-0\@md{padding-right:0;padding-left:0}
.px-1\@md{padding-right:8px;padding-left:8px}
.px-2\@md{padding-right:16px;padding-left:16px}
.px-3\@md{padding-right:24px;padding-left:24px}
.px-4\@md{padding-right:32px;padding-left:32px}
.px-5\@md{padding-right:40px;padding-left:40px}
.px-6\@md{padding-right:48px;padding-left:48px}
.px-7\@md{padding-right:56px;padding-left:56px}
.px-8\@md{padding-right:64px;padding-left:64px}
.pt-0\@md{padding-top:0}
.pt-1\@md{padding-top:8px}
.pt-2\@md{padding-top:16px}
.pt-3\@md{padding-top:24px}
.pt-4\@md{padding-top:32px}
.pt-5\@md{padding-top:40px}
.pt-6\@md{padding-top:48px}
.pt-7\@md{padding-top:56px}
.pt-8\@md{padding-top:64px}
.pr-0\@md{padding-right:0}
.pr-1\@md{padding-right:8px}
.pr-2\@md{padding-right:16px}
.pr-3\@md{padding-right:24px}
.pr-4\@md{padding-right:32px}
.pr-5\@md{padding-right:40px}
.pr-6\@md{padding-right:48px}
.pr-7\@md{padding-right:56px}
.pr-8\@md{padding-right:64px}
.pb-0\@md{padding-bottom:0}
.pb-1\@md{padding-bottom:8px}
.pb-2\@md{padding-bottom:16px}
.pb-3\@md{padding-bottom:24px}
.pb-4\@md{padding-bottom:32px}
.pb-5\@md{padding-bottom:40px}
.pb-6\@md{padding-bottom:48px}
.pb-7\@md{padding-bottom:56px}
.pb-8\@md{padding-bottom:64px}
.pl-0\@md{padding-left:0}
.pl-1\@md{padding-left:8px}
.pl-2\@md{padding-left:16px}
.pl-3\@md{padding-left:24px}
.pl-4\@md{padding-left:32px}
.pl-5\@md{padding-left:40px}
.pl-6\@md{padding-left:48px}
.pl-7\@md{padding-left:56px}
.pl-8\@md{padding-left:64px}
.t-0\@md{top:0}
.t-1\@md{top:8px}
.t-2\@md{top:16px}
.t-3\@md{top:24px}
.t-4\@md{top:32px}
.t-5\@md{top:40px}
.t-6\@md{top:48px}
.t-7\@md{top:56px}
.t-8\@md{top:64px}
.r-0\@md{right:0}
.r-1\@md{right:8px}
.r-2\@md{right:16px}
.r-3\@md{right:24px}
.r-4\@md{right:32px}
.r-5\@md{right:40px}
.r-6\@md{right:48px}
.r-7\@md{right:56px}
.r-8\@md{right:64px}
.b-0\@md{bottom:0}
.b-1\@md{bottom:8px}
.b-2\@md{bottom:16px}
.b-3\@md{bottom:24px}
.b-4\@md{bottom:32px}
.b-5\@md{bottom:40px}
.b-6\@md{bottom:48px}
.b-7\@md{bottom:56px}
.b-8\@md{bottom:64px}
.l-0\@md{left:0}
.l-1\@md{left:8px}
.l-2\@md{left:16px}
.l-3\@md{left:24px}
.l-4\@md{left:32px}
.l-5\@md{left:40px}
.l-6\@md{left:48px}
.l-7\@md{left:56px}
.l-8\@md{left:64px}
.s-1\@md{width:8px;height:8px}
.s-2\@md{width:16px;height:16px}
.s-3\@md{width:24px;height:24px}
.s-4\@md{width:32px;height:32px}
.s-5\@md{width:40px;height:40px}
.s-6\@md{width:48px;height:48px}
.s-7\@md{width:56px;height:56px}
.s-8\@md{width:64px;height:64px}
.w-1\@md{width:8px}
.w-2\@md{width:16px}
.w-3\@md{width:24px}
.w-4\@md{width:32px}
.w-5\@md{width:40px}
.w-6\@md{width:48px}
.w-7\@md{width:56px}
.w-8\@md{width:64px}
.h-1\@md{height:8px}
.h-2\@md{height:16px}
.h-3\@md{height:24px}
.h-4\@md{height:32px}
.h-5\@md{height:40px}
.h-6\@md{height:48px}
.h-7\@md{height:56px}
.h-8\@md{height:64px}
}
