/*! 8-point */
@media(min-width:0){
.m-0\@mn{margin:0}
.m-1\@mn{margin:8px}
.m-2\@mn{margin:16px}
.m-3\@mn{margin:24px}
.m-4\@mn{margin:32px}
.m-5\@mn{margin:40px}
.m-6\@mn{margin:48px}
.m-7\@mn{margin:56px}
.m-8\@mn{margin:64px}
.my-0\@mn{margin-top:0;margin-bottom:0}
.my-1\@mn{margin-top:8px;margin-bottom:8px}
.my-2\@mn{margin-top:16px;margin-bottom:16px}
.my-3\@mn{margin-top:24px;margin-bottom:24px}
.my-4\@mn{margin-top:32px;margin-bottom:32px}
.my-5\@mn{margin-top:40px;margin-bottom:40px}
.my-6\@mn{margin-top:48px;margin-bottom:48px}
.my-7\@mn{margin-top:56px;margin-bottom:56px}
.my-8\@mn{margin-top:64px;margin-bottom:64px}
.mx-0\@mn{margin-right:0;margin-left:0}
.mx-1\@mn{margin-right:8px;margin-left:8px}
.mx-2\@mn{margin-right:16px;margin-left:16px}
.mx-3\@mn{margin-right:24px;margin-left:24px}
.mx-4\@mn{margin-right:32px;margin-left:32px}
.mx-5\@mn{margin-right:40px;margin-left:40px}
.mx-6\@mn{margin-right:48px;margin-left:48px}
.mx-7\@mn{margin-right:56px;margin-left:56px}
.mx-8\@mn{margin-right:64px;margin-left:64px}
.mt-0\@mn{margin-top:0}
.mt-1\@mn{margin-top:8px}
.mt-2\@mn{margin-top:16px}
.mt-3\@mn{margin-top:24px}
.mt-4\@mn{margin-top:32px}
.mt-5\@mn{margin-top:40px}
.mt-6\@mn{margin-top:48px}
.mt-7\@mn{margin-top:56px}
.mt-8\@mn{margin-top:64px}
.mr-0\@mn{margin-right:0}
.mr-1\@mn{margin-right:8px}
.mr-2\@mn{margin-right:16px}
.mr-3\@mn{margin-right:24px}
.mr-4\@mn{margin-right:32px}
.mr-5\@mn{margin-right:40px}
.mr-6\@mn{margin-right:48px}
.mr-7\@mn{margin-right:56px}
.mr-8\@mn{margin-right:64px}
.mb-0\@mn{margin-bottom:0}
.mb-1\@mn{margin-bottom:8px}
.mb-2\@mn{margin-bottom:16px}
.mb-3\@mn{margin-bottom:24px}
.mb-4\@mn{margin-bottom:32px}
.mb-5\@mn{margin-bottom:40px}
.mb-6\@mn{margin-bottom:48px}
.mb-7\@mn{margin-bottom:56px}
.mb-8\@mn{margin-bottom:64px}
.ml-0\@mn{margin-left:0}
.ml-1\@mn{margin-left:8px}
.ml-2\@mn{margin-left:16px}
.ml-3\@mn{margin-left:24px}
.ml-4\@mn{margin-left:32px}
.ml-5\@mn{margin-left:40px}
.ml-6\@mn{margin-left:48px}
.ml-7\@mn{margin-left:56px}
.ml-8\@mn{margin-left:64px}
.p-0\@mn{padding:0}
.p-1\@mn{padding:8px}
.p-2\@mn{padding:16px}
.p-3\@mn{padding:24px}
.p-4\@mn{padding:32px}
.p-5\@mn{padding:40px}
.p-6\@mn{padding:48px}
.p-7\@mn{padding:56px}
.p-8\@mn{padding:64px}
.py-0\@mn{padding-top:0;padding-bottom:0}
.py-1\@mn{padding-top:8px;padding-bottom:8px}
.py-2\@mn{padding-top:16px;padding-bottom:16px}
.py-3\@mn{padding-top:24px;padding-bottom:24px}
.py-4\@mn{padding-top:32px;padding-bottom:32px}
.py-5\@mn{padding-top:40px;padding-bottom:40px}
.py-6\@mn{padding-top:48px;padding-bottom:48px}
.py-7\@mn{padding-top:56px;padding-bottom:56px}
.py-8\@mn{padding-top:64px;padding-bottom:64px}
.px-0\@mn{padding-right:0;padding-left:0}
.px-1\@mn{padding-right:8px;padding-left:8px}
.px-2\@mn{padding-right:16px;padding-left:16px}
.px-3\@mn{padding-right:24px;padding-left:24px}
.px-4\@mn{padding-right:32px;padding-left:32px}
.px-5\@mn{padding-right:40px;padding-left:40px}
.px-6\@mn{padding-right:48px;padding-left:48px}
.px-7\@mn{padding-right:56px;padding-left:56px}
.px-8\@mn{padding-right:64px;padding-left:64px}
.pt-0\@mn{padding-top:0}
.pt-1\@mn{padding-top:8px}
.pt-2\@mn{padding-top:16px}
.pt-3\@mn{padding-top:24px}
.pt-4\@mn{padding-top:32px}
.pt-5\@mn{padding-top:40px}
.pt-6\@mn{padding-top:48px}
.pt-7\@mn{padding-top:56px}
.pt-8\@mn{padding-top:64px}
.pr-0\@mn{padding-right:0}
.pr-1\@mn{padding-right:8px}
.pr-2\@mn{padding-right:16px}
.pr-3\@mn{padding-right:24px}
.pr-4\@mn{padding-right:32px}
.pr-5\@mn{padding-right:40px}
.pr-6\@mn{padding-right:48px}
.pr-7\@mn{padding-right:56px}
.pr-8\@mn{padding-right:64px}
.pb-0\@mn{padding-bottom:0}
.pb-1\@mn{padding-bottom:8px}
.pb-2\@mn{padding-bottom:16px}
.pb-3\@mn{padding-bottom:24px}
.pb-4\@mn{padding-bottom:32px}
.pb-5\@mn{padding-bottom:40px}
.pb-6\@mn{padding-bottom:48px}
.pb-7\@mn{padding-bottom:56px}
.pb-8\@mn{padding-bottom:64px}
.pl-0\@mn{padding-left:0}
.pl-1\@mn{padding-left:8px}
.pl-2\@mn{padding-left:16px}
.pl-3\@mn{padding-left:24px}
.pl-4\@mn{padding-left:32px}
.pl-5\@mn{padding-left:40px}
.pl-6\@mn{padding-left:48px}
.pl-7\@mn{padding-left:56px}
.pl-8\@mn{padding-left:64px}
.t-0\@mn{top:0}
.t-1\@mn{top:8px}
.t-2\@mn{top:16px}
.t-3\@mn{top:24px}
.t-4\@mn{top:32px}
.t-5\@mn{top:40px}
.t-6\@mn{top:48px}
.t-7\@mn{top:56px}
.t-8\@mn{top:64px}
.r-0\@mn{right:0}
.r-1\@mn{right:8px}
.r-2\@mn{right:16px}
.r-3\@mn{right:24px}
.r-4\@mn{right:32px}
.r-5\@mn{right:40px}
.r-6\@mn{right:48px}
.r-7\@mn{right:56px}
.r-8\@mn{right:64px}
.b-0\@mn{bottom:0}
.b-1\@mn{bottom:8px}
.b-2\@mn{bottom:16px}
.b-3\@mn{bottom:24px}
.b-4\@mn{bottom:32px}
.b-5\@mn{bottom:40px}
.b-6\@mn{bottom:48px}
.b-7\@mn{bottom:56px}
.b-8\@mn{bottom:64px}
.l-0\@mn{left:0}
.l-1\@mn{left:8px}
.l-2\@mn{left:16px}
.l-3\@mn{left:24px}
.l-4\@mn{left:32px}
.l-5\@mn{left:40px}
.l-6\@mn{left:48px}
.l-7\@mn{left:56px}
.l-8\@mn{left:64px}
.s-1\@mn{width:8px;height:8px}
.s-2\@mn{width:16px;height:16px}
.s-3\@mn{width:24px;height:24px}
.s-4\@mn{width:32px;height:32px}
.s-5\@mn{width:40px;height:40px}
.s-6\@mn{width:48px;height:48px}
.s-7\@mn{width:56px;height:56px}
.s-8\@mn{width:64px;height:64px}
.w-1\@mn{width:8px}
.w-2\@mn{width:16px}
.w-3\@mn{width:24px}
.w-4\@mn{width:32px}
.w-5\@mn{width:40px}
.w-6\@mn{width:48px}
.w-7\@mn{width:56px}
.w-8\@mn{width:64px}
.h-1\@mn{height:8px}
.h-2\@mn{height:16px}
.h-3\@mn{height:24px}
.h-4\@mn{height:32px}
.h-5\@mn{height:40px}
.h-6\@mn{height:48px}
.h-7\@mn{height:56px}
.h-8\@mn{height:64px}
}
