/*! 8-point */
@media(min-width:600px){
.m-0\@sm{margin:0}
.m-1\@sm{margin:8px}
.m-2\@sm{margin:16px}
.m-3\@sm{margin:24px}
.m-4\@sm{margin:32px}
.m-5\@sm{margin:40px}
.m-6\@sm{margin:48px}
.m-7\@sm{margin:56px}
.m-8\@sm{margin:64px}
.my-0\@sm{margin-top:0;margin-bottom:0}
.my-1\@sm{margin-top:8px;margin-bottom:8px}
.my-2\@sm{margin-top:16px;margin-bottom:16px}
.my-3\@sm{margin-top:24px;margin-bottom:24px}
.my-4\@sm{margin-top:32px;margin-bottom:32px}
.my-5\@sm{margin-top:40px;margin-bottom:40px}
.my-6\@sm{margin-top:48px;margin-bottom:48px}
.my-7\@sm{margin-top:56px;margin-bottom:56px}
.my-8\@sm{margin-top:64px;margin-bottom:64px}
.mx-0\@sm{margin-right:0;margin-left:0}
.mx-1\@sm{margin-right:8px;margin-left:8px}
.mx-2\@sm{margin-right:16px;margin-left:16px}
.mx-3\@sm{margin-right:24px;margin-left:24px}
.mx-4\@sm{margin-right:32px;margin-left:32px}
.mx-5\@sm{margin-right:40px;margin-left:40px}
.mx-6\@sm{margin-right:48px;margin-left:48px}
.mx-7\@sm{margin-right:56px;margin-left:56px}
.mx-8\@sm{margin-right:64px;margin-left:64px}
.mt-0\@sm{margin-top:0}
.mt-1\@sm{margin-top:8px}
.mt-2\@sm{margin-top:16px}
.mt-3\@sm{margin-top:24px}
.mt-4\@sm{margin-top:32px}
.mt-5\@sm{margin-top:40px}
.mt-6\@sm{margin-top:48px}
.mt-7\@sm{margin-top:56px}
.mt-8\@sm{margin-top:64px}
.mr-0\@sm{margin-right:0}
.mr-1\@sm{margin-right:8px}
.mr-2\@sm{margin-right:16px}
.mr-3\@sm{margin-right:24px}
.mr-4\@sm{margin-right:32px}
.mr-5\@sm{margin-right:40px}
.mr-6\@sm{margin-right:48px}
.mr-7\@sm{margin-right:56px}
.mr-8\@sm{margin-right:64px}
.mb-0\@sm{margin-bottom:0}
.mb-1\@sm{margin-bottom:8px}
.mb-2\@sm{margin-bottom:16px}
.mb-3\@sm{margin-bottom:24px}
.mb-4\@sm{margin-bottom:32px}
.mb-5\@sm{margin-bottom:40px}
.mb-6\@sm{margin-bottom:48px}
.mb-7\@sm{margin-bottom:56px}
.mb-8\@sm{margin-bottom:64px}
.ml-0\@sm{margin-left:0}
.ml-1\@sm{margin-left:8px}
.ml-2\@sm{margin-left:16px}
.ml-3\@sm{margin-left:24px}
.ml-4\@sm{margin-left:32px}
.ml-5\@sm{margin-left:40px}
.ml-6\@sm{margin-left:48px}
.ml-7\@sm{margin-left:56px}
.ml-8\@sm{margin-left:64px}
.p-0\@sm{padding:0}
.p-1\@sm{padding:8px}
.p-2\@sm{padding:16px}
.p-3\@sm{padding:24px}
.p-4\@sm{padding:32px}
.p-5\@sm{padding:40px}
.p-6\@sm{padding:48px}
.p-7\@sm{padding:56px}
.p-8\@sm{padding:64px}
.py-0\@sm{padding-top:0;padding-bottom:0}
.py-1\@sm{padding-top:8px;padding-bottom:8px}
.py-2\@sm{padding-top:16px;padding-bottom:16px}
.py-3\@sm{padding-top:24px;padding-bottom:24px}
.py-4\@sm{padding-top:32px;padding-bottom:32px}
.py-5\@sm{padding-top:40px;padding-bottom:40px}
.py-6\@sm{padding-top:48px;padding-bottom:48px}
.py-7\@sm{padding-top:56px;padding-bottom:56px}
.py-8\@sm{padding-top:64px;padding-bottom:64px}
.px-0\@sm{padding-right:0;padding-left:0}
.px-1\@sm{padding-right:8px;padding-left:8px}
.px-2\@sm{padding-right:16px;padding-left:16px}
.px-3\@sm{padding-right:24px;padding-left:24px}
.px-4\@sm{padding-right:32px;padding-left:32px}
.px-5\@sm{padding-right:40px;padding-left:40px}
.px-6\@sm{padding-right:48px;padding-left:48px}
.px-7\@sm{padding-right:56px;padding-left:56px}
.px-8\@sm{padding-right:64px;padding-left:64px}
.pt-0\@sm{padding-top:0}
.pt-1\@sm{padding-top:8px}
.pt-2\@sm{padding-top:16px}
.pt-3\@sm{padding-top:24px}
.pt-4\@sm{padding-top:32px}
.pt-5\@sm{padding-top:40px}
.pt-6\@sm{padding-top:48px}
.pt-7\@sm{padding-top:56px}
.pt-8\@sm{padding-top:64px}
.pr-0\@sm{padding-right:0}
.pr-1\@sm{padding-right:8px}
.pr-2\@sm{padding-right:16px}
.pr-3\@sm{padding-right:24px}
.pr-4\@sm{padding-right:32px}
.pr-5\@sm{padding-right:40px}
.pr-6\@sm{padding-right:48px}
.pr-7\@sm{padding-right:56px}
.pr-8\@sm{padding-right:64px}
.pb-0\@sm{padding-bottom:0}
.pb-1\@sm{padding-bottom:8px}
.pb-2\@sm{padding-bottom:16px}
.pb-3\@sm{padding-bottom:24px}
.pb-4\@sm{padding-bottom:32px}
.pb-5\@sm{padding-bottom:40px}
.pb-6\@sm{padding-bottom:48px}
.pb-7\@sm{padding-bottom:56px}
.pb-8\@sm{padding-bottom:64px}
.pl-0\@sm{padding-left:0}
.pl-1\@sm{padding-left:8px}
.pl-2\@sm{padding-left:16px}
.pl-3\@sm{padding-left:24px}
.pl-4\@sm{padding-left:32px}
.pl-5\@sm{padding-left:40px}
.pl-6\@sm{padding-left:48px}
.pl-7\@sm{padding-left:56px}
.pl-8\@sm{padding-left:64px}
.t-0\@sm{top:0}
.t-1\@sm{top:8px}
.t-2\@sm{top:16px}
.t-3\@sm{top:24px}
.t-4\@sm{top:32px}
.t-5\@sm{top:40px}
.t-6\@sm{top:48px}
.t-7\@sm{top:56px}
.t-8\@sm{top:64px}
.r-0\@sm{right:0}
.r-1\@sm{right:8px}
.r-2\@sm{right:16px}
.r-3\@sm{right:24px}
.r-4\@sm{right:32px}
.r-5\@sm{right:40px}
.r-6\@sm{right:48px}
.r-7\@sm{right:56px}
.r-8\@sm{right:64px}
.b-0\@sm{bottom:0}
.b-1\@sm{bottom:8px}
.b-2\@sm{bottom:16px}
.b-3\@sm{bottom:24px}
.b-4\@sm{bottom:32px}
.b-5\@sm{bottom:40px}
.b-6\@sm{bottom:48px}
.b-7\@sm{bottom:56px}
.b-8\@sm{bottom:64px}
.l-0\@sm{left:0}
.l-1\@sm{left:8px}
.l-2\@sm{left:16px}
.l-3\@sm{left:24px}
.l-4\@sm{left:32px}
.l-5\@sm{left:40px}
.l-6\@sm{left:48px}
.l-7\@sm{left:56px}
.l-8\@sm{left:64px}
.s-1\@sm{width:8px;height:8px}
.s-2\@sm{width:16px;height:16px}
.s-3\@sm{width:24px;height:24px}
.s-4\@sm{width:32px;height:32px}
.s-5\@sm{width:40px;height:40px}
.s-6\@sm{width:48px;height:48px}
.s-7\@sm{width:56px;height:56px}
.s-8\@sm{width:64px;height:64px}
.w-1\@sm{width:8px}
.w-2\@sm{width:16px}
.w-3\@sm{width:24px}
.w-4\@sm{width:32px}
.w-5\@sm{width:40px}
.w-6\@sm{width:48px}
.w-7\@sm{width:56px}
.w-8\@sm{width:64px}
.h-1\@sm{height:8px}
.h-2\@sm{height:16px}
.h-3\@sm{height:24px}
.h-4\@sm{height:32px}
.h-5\@sm{height:40px}
.h-6\@sm{height:48px}
.h-7\@sm{height:56px}
.h-8\@sm{height:64px}
}
