/*! 8-point */
@media(min-width:480px){
.m-0\@xs{margin:0}
.m-1\@xs{margin:8px}
.m-2\@xs{margin:16px}
.m-3\@xs{margin:24px}
.m-4\@xs{margin:32px}
.m-5\@xs{margin:40px}
.m-6\@xs{margin:48px}
.m-7\@xs{margin:56px}
.m-8\@xs{margin:64px}
.my-0\@xs{margin-top:0;margin-bottom:0}
.my-1\@xs{margin-top:8px;margin-bottom:8px}
.my-2\@xs{margin-top:16px;margin-bottom:16px}
.my-3\@xs{margin-top:24px;margin-bottom:24px}
.my-4\@xs{margin-top:32px;margin-bottom:32px}
.my-5\@xs{margin-top:40px;margin-bottom:40px}
.my-6\@xs{margin-top:48px;margin-bottom:48px}
.my-7\@xs{margin-top:56px;margin-bottom:56px}
.my-8\@xs{margin-top:64px;margin-bottom:64px}
.mx-0\@xs{margin-right:0;margin-left:0}
.mx-1\@xs{margin-right:8px;margin-left:8px}
.mx-2\@xs{margin-right:16px;margin-left:16px}
.mx-3\@xs{margin-right:24px;margin-left:24px}
.mx-4\@xs{margin-right:32px;margin-left:32px}
.mx-5\@xs{margin-right:40px;margin-left:40px}
.mx-6\@xs{margin-right:48px;margin-left:48px}
.mx-7\@xs{margin-right:56px;margin-left:56px}
.mx-8\@xs{margin-right:64px;margin-left:64px}
.mt-0\@xs{margin-top:0}
.mt-1\@xs{margin-top:8px}
.mt-2\@xs{margin-top:16px}
.mt-3\@xs{margin-top:24px}
.mt-4\@xs{margin-top:32px}
.mt-5\@xs{margin-top:40px}
.mt-6\@xs{margin-top:48px}
.mt-7\@xs{margin-top:56px}
.mt-8\@xs{margin-top:64px}
.mr-0\@xs{margin-right:0}
.mr-1\@xs{margin-right:8px}
.mr-2\@xs{margin-right:16px}
.mr-3\@xs{margin-right:24px}
.mr-4\@xs{margin-right:32px}
.mr-5\@xs{margin-right:40px}
.mr-6\@xs{margin-right:48px}
.mr-7\@xs{margin-right:56px}
.mr-8\@xs{margin-right:64px}
.mb-0\@xs{margin-bottom:0}
.mb-1\@xs{margin-bottom:8px}
.mb-2\@xs{margin-bottom:16px}
.mb-3\@xs{margin-bottom:24px}
.mb-4\@xs{margin-bottom:32px}
.mb-5\@xs{margin-bottom:40px}
.mb-6\@xs{margin-bottom:48px}
.mb-7\@xs{margin-bottom:56px}
.mb-8\@xs{margin-bottom:64px}
.ml-0\@xs{margin-left:0}
.ml-1\@xs{margin-left:8px}
.ml-2\@xs{margin-left:16px}
.ml-3\@xs{margin-left:24px}
.ml-4\@xs{margin-left:32px}
.ml-5\@xs{margin-left:40px}
.ml-6\@xs{margin-left:48px}
.ml-7\@xs{margin-left:56px}
.ml-8\@xs{margin-left:64px}
.p-0\@xs{padding:0}
.p-1\@xs{padding:8px}
.p-2\@xs{padding:16px}
.p-3\@xs{padding:24px}
.p-4\@xs{padding:32px}
.p-5\@xs{padding:40px}
.p-6\@xs{padding:48px}
.p-7\@xs{padding:56px}
.p-8\@xs{padding:64px}
.py-0\@xs{padding-top:0;padding-bottom:0}
.py-1\@xs{padding-top:8px;padding-bottom:8px}
.py-2\@xs{padding-top:16px;padding-bottom:16px}
.py-3\@xs{padding-top:24px;padding-bottom:24px}
.py-4\@xs{padding-top:32px;padding-bottom:32px}
.py-5\@xs{padding-top:40px;padding-bottom:40px}
.py-6\@xs{padding-top:48px;padding-bottom:48px}
.py-7\@xs{padding-top:56px;padding-bottom:56px}
.py-8\@xs{padding-top:64px;padding-bottom:64px}
.px-0\@xs{padding-right:0;padding-left:0}
.px-1\@xs{padding-right:8px;padding-left:8px}
.px-2\@xs{padding-right:16px;padding-left:16px}
.px-3\@xs{padding-right:24px;padding-left:24px}
.px-4\@xs{padding-right:32px;padding-left:32px}
.px-5\@xs{padding-right:40px;padding-left:40px}
.px-6\@xs{padding-right:48px;padding-left:48px}
.px-7\@xs{padding-right:56px;padding-left:56px}
.px-8\@xs{padding-right:64px;padding-left:64px}
.pt-0\@xs{padding-top:0}
.pt-1\@xs{padding-top:8px}
.pt-2\@xs{padding-top:16px}
.pt-3\@xs{padding-top:24px}
.pt-4\@xs{padding-top:32px}
.pt-5\@xs{padding-top:40px}
.pt-6\@xs{padding-top:48px}
.pt-7\@xs{padding-top:56px}
.pt-8\@xs{padding-top:64px}
.pr-0\@xs{padding-right:0}
.pr-1\@xs{padding-right:8px}
.pr-2\@xs{padding-right:16px}
.pr-3\@xs{padding-right:24px}
.pr-4\@xs{padding-right:32px}
.pr-5\@xs{padding-right:40px}
.pr-6\@xs{padding-right:48px}
.pr-7\@xs{padding-right:56px}
.pr-8\@xs{padding-right:64px}
.pb-0\@xs{padding-bottom:0}
.pb-1\@xs{padding-bottom:8px}
.pb-2\@xs{padding-bottom:16px}
.pb-3\@xs{padding-bottom:24px}
.pb-4\@xs{padding-bottom:32px}
.pb-5\@xs{padding-bottom:40px}
.pb-6\@xs{padding-bottom:48px}
.pb-7\@xs{padding-bottom:56px}
.pb-8\@xs{padding-bottom:64px}
.pl-0\@xs{padding-left:0}
.pl-1\@xs{padding-left:8px}
.pl-2\@xs{padding-left:16px}
.pl-3\@xs{padding-left:24px}
.pl-4\@xs{padding-left:32px}
.pl-5\@xs{padding-left:40px}
.pl-6\@xs{padding-left:48px}
.pl-7\@xs{padding-left:56px}
.pl-8\@xs{padding-left:64px}
.t-0\@xs{top:0}
.t-1\@xs{top:8px}
.t-2\@xs{top:16px}
.t-3\@xs{top:24px}
.t-4\@xs{top:32px}
.t-5\@xs{top:40px}
.t-6\@xs{top:48px}
.t-7\@xs{top:56px}
.t-8\@xs{top:64px}
.r-0\@xs{right:0}
.r-1\@xs{right:8px}
.r-2\@xs{right:16px}
.r-3\@xs{right:24px}
.r-4\@xs{right:32px}
.r-5\@xs{right:40px}
.r-6\@xs{right:48px}
.r-7\@xs{right:56px}
.r-8\@xs{right:64px}
.b-0\@xs{bottom:0}
.b-1\@xs{bottom:8px}
.b-2\@xs{bottom:16px}
.b-3\@xs{bottom:24px}
.b-4\@xs{bottom:32px}
.b-5\@xs{bottom:40px}
.b-6\@xs{bottom:48px}
.b-7\@xs{bottom:56px}
.b-8\@xs{bottom:64px}
.l-0\@xs{left:0}
.l-1\@xs{left:8px}
.l-2\@xs{left:16px}
.l-3\@xs{left:24px}
.l-4\@xs{left:32px}
.l-5\@xs{left:40px}
.l-6\@xs{left:48px}
.l-7\@xs{left:56px}
.l-8\@xs{left:64px}
.s-1\@xs{width:8px;height:8px}
.s-2\@xs{width:16px;height:16px}
.s-3\@xs{width:24px;height:24px}
.s-4\@xs{width:32px;height:32px}
.s-5\@xs{width:40px;height:40px}
.s-6\@xs{width:48px;height:48px}
.s-7\@xs{width:56px;height:56px}
.s-8\@xs{width:64px;height:64px}
.w-1\@xs{width:8px}
.w-2\@xs{width:16px}
.w-3\@xs{width:24px}
.w-4\@xs{width:32px}
.w-5\@xs{width:40px}
.w-6\@xs{width:48px}
.w-7\@xs{width:56px}
.w-8\@xs{width:64px}
.h-1\@xs{height:8px}
.h-2\@xs{height:16px}
.h-3\@xs{height:24px}
.h-4\@xs{height:32px}
.h-5\@xs{height:40px}
.h-6\@xs{height:48px}
.h-7\@xs{height:56px}
.h-8\@xs{height:64px}
}
