/*! point.css */
@media(min-width:480px){
.m-0\@xs{margin:0}
.m-1\@xs{margin:.5rem}
.m-2\@xs{margin:1rem}
.m-3\@xs{margin:1.5rem}
.m-4\@xs{margin:2rem}
.m-5\@xs{margin:2.5rem}
.m-6\@xs{margin:3rem}
.m-7\@xs{margin:3.5rem}
.m-8\@xs{margin:4rem}
.my-0\@xs{margin-top:0;margin-bottom:0}
.my-1\@xs{margin-top:.5rem;margin-bottom:.5rem}
.my-2\@xs{margin-top:1rem;margin-bottom:1rem}
.my-3\@xs{margin-top:1.5rem;margin-bottom:1.5rem}
.my-4\@xs{margin-top:2rem;margin-bottom:2rem}
.my-5\@xs{margin-top:2.5rem;margin-bottom:2.5rem}
.my-6\@xs{margin-top:3rem;margin-bottom:3rem}
.my-7\@xs{margin-top:3.5rem;margin-bottom:3.5rem}
.my-8\@xs{margin-top:4rem;margin-bottom:4rem}
.mx-0\@xs{margin-right:0;margin-left:0}
.mx-1\@xs{margin-right:.5rem;margin-left:.5rem}
.mx-2\@xs{margin-right:1rem;margin-left:1rem}
.mx-3\@xs{margin-right:1.5rem;margin-left:1.5rem}
.mx-4\@xs{margin-right:2rem;margin-left:2rem}
.mx-5\@xs{margin-right:2.5rem;margin-left:2.5rem}
.mx-6\@xs{margin-right:3rem;margin-left:3rem}
.mx-7\@xs{margin-right:3.5rem;margin-left:3.5rem}
.mx-8\@xs{margin-right:4rem;margin-left:4rem}
.mt-0\@xs{margin-top:0}
.mt-1\@xs{margin-top:.5rem}
.mt-2\@xs{margin-top:1rem}
.mt-3\@xs{margin-top:1.5rem}
.mt-4\@xs{margin-top:2rem}
.mt-5\@xs{margin-top:2.5rem}
.mt-6\@xs{margin-top:3rem}
.mt-7\@xs{margin-top:3.5rem}
.mt-8\@xs{margin-top:4rem}
.mr-0\@xs{margin-right:0}
.mr-1\@xs{margin-right:.5rem}
.mr-2\@xs{margin-right:1rem}
.mr-3\@xs{margin-right:1.5rem}
.mr-4\@xs{margin-right:2rem}
.mr-5\@xs{margin-right:2.5rem}
.mr-6\@xs{margin-right:3rem}
.mr-7\@xs{margin-right:3.5rem}
.mr-8\@xs{margin-right:4rem}
.mb-0\@xs{margin-bottom:0}
.mb-1\@xs{margin-bottom:.5rem}
.mb-2\@xs{margin-bottom:1rem}
.mb-3\@xs{margin-bottom:1.5rem}
.mb-4\@xs{margin-bottom:2rem}
.mb-5\@xs{margin-bottom:2.5rem}
.mb-6\@xs{margin-bottom:3rem}
.mb-7\@xs{margin-bottom:3.5rem}
.mb-8\@xs{margin-bottom:4rem}
.ml-0\@xs{margin-left:0}
.ml-1\@xs{margin-left:.5rem}
.ml-2\@xs{margin-left:1rem}
.ml-3\@xs{margin-left:1.5rem}
.ml-4\@xs{margin-left:2rem}
.ml-5\@xs{margin-left:2.5rem}
.ml-6\@xs{margin-left:3rem}
.ml-7\@xs{margin-left:3.5rem}
.ml-8\@xs{margin-left:4rem}
.p-0\@xs{padding:0}
.p-1\@xs{padding:.5rem}
.p-2\@xs{padding:1rem}
.p-3\@xs{padding:1.5rem}
.p-4\@xs{padding:2rem}
.p-5\@xs{padding:2.5rem}
.p-6\@xs{padding:3rem}
.p-7\@xs{padding:3.5rem}
.p-8\@xs{padding:4rem}
.py-0\@xs{padding-top:0;padding-bottom:0}
.py-1\@xs{padding-top:.5rem;padding-bottom:.5rem}
.py-2\@xs{padding-top:1rem;padding-bottom:1rem}
.py-3\@xs{padding-top:1.5rem;padding-bottom:1.5rem}
.py-4\@xs{padding-top:2rem;padding-bottom:2rem}
.py-5\@xs{padding-top:2.5rem;padding-bottom:2.5rem}
.py-6\@xs{padding-top:3rem;padding-bottom:3rem}
.py-7\@xs{padding-top:3.5rem;padding-bottom:3.5rem}
.py-8\@xs{padding-top:4rem;padding-bottom:4rem}
.px-0\@xs{padding-right:0;padding-left:0}
.px-1\@xs{padding-right:.5rem;padding-left:.5rem}
.px-2\@xs{padding-right:1rem;padding-left:1rem}
.px-3\@xs{padding-right:1.5rem;padding-left:1.5rem}
.px-4\@xs{padding-right:2rem;padding-left:2rem}
.px-5\@xs{padding-right:2.5rem;padding-left:2.5rem}
.px-6\@xs{padding-right:3rem;padding-left:3rem}
.px-7\@xs{padding-right:3.5rem;padding-left:3.5rem}
.px-8\@xs{padding-right:4rem;padding-left:4rem}
.pt-0\@xs{padding-top:0}
.pt-1\@xs{padding-top:.5rem}
.pt-2\@xs{padding-top:1rem}
.pt-3\@xs{padding-top:1.5rem}
.pt-4\@xs{padding-top:2rem}
.pt-5\@xs{padding-top:2.5rem}
.pt-6\@xs{padding-top:3rem}
.pt-7\@xs{padding-top:3.5rem}
.pt-8\@xs{padding-top:4rem}
.pr-0\@xs{padding-right:0}
.pr-1\@xs{padding-right:.5rem}
.pr-2\@xs{padding-right:1rem}
.pr-3\@xs{padding-right:1.5rem}
.pr-4\@xs{padding-right:2rem}
.pr-5\@xs{padding-right:2.5rem}
.pr-6\@xs{padding-right:3rem}
.pr-7\@xs{padding-right:3.5rem}
.pr-8\@xs{padding-right:4rem}
.pb-0\@xs{padding-bottom:0}
.pb-1\@xs{padding-bottom:.5rem}
.pb-2\@xs{padding-bottom:1rem}
.pb-3\@xs{padding-bottom:1.5rem}
.pb-4\@xs{padding-bottom:2rem}
.pb-5\@xs{padding-bottom:2.5rem}
.pb-6\@xs{padding-bottom:3rem}
.pb-7\@xs{padding-bottom:3.5rem}
.pb-8\@xs{padding-bottom:4rem}
.pl-0\@xs{padding-left:0}
.pl-1\@xs{padding-left:.5rem}
.pl-2\@xs{padding-left:1rem}
.pl-3\@xs{padding-left:1.5rem}
.pl-4\@xs{padding-left:2rem}
.pl-5\@xs{padding-left:2.5rem}
.pl-6\@xs{padding-left:3rem}
.pl-7\@xs{padding-left:3.5rem}
.pl-8\@xs{padding-left:4rem}
.t-0\@xs{top:0}
.t-1\@xs{top:.5rem}
.t-2\@xs{top:1rem}
.t-3\@xs{top:1.5rem}
.t-4\@xs{top:2rem}
.t-5\@xs{top:2.5rem}
.t-6\@xs{top:3rem}
.t-7\@xs{top:3.5rem}
.t-8\@xs{top:4rem}
.r-0\@xs{right:0}
.r-1\@xs{right:.5rem}
.r-2\@xs{right:1rem}
.r-3\@xs{right:1.5rem}
.r-4\@xs{right:2rem}
.r-5\@xs{right:2.5rem}
.r-6\@xs{right:3rem}
.r-7\@xs{right:3.5rem}
.r-8\@xs{right:4rem}
.b-0\@xs{bottom:0}
.b-1\@xs{bottom:.5rem}
.b-2\@xs{bottom:1rem}
.b-3\@xs{bottom:1.5rem}
.b-4\@xs{bottom:2rem}
.b-5\@xs{bottom:2.5rem}
.b-6\@xs{bottom:3rem}
.b-7\@xs{bottom:3.5rem}
.b-8\@xs{bottom:4rem}
.l-0\@xs{left:0}
.l-1\@xs{left:.5rem}
.l-2\@xs{left:1rem}
.l-3\@xs{left:1.5rem}
.l-4\@xs{left:2rem}
.l-5\@xs{left:2.5rem}
.l-6\@xs{left:3rem}
.l-7\@xs{left:3.5rem}
.l-8\@xs{left:4rem}
.s-1\@xs{width:.5rem;height:.5rem}
.s-2\@xs{width:1rem;height:1rem}
.s-3\@xs{width:1.5rem;height:1.5rem}
.s-4\@xs{width:2rem;height:2rem}
.s-5\@xs{width:2.5rem;height:2.5rem}
.s-6\@xs{width:3rem;height:3rem}
.s-7\@xs{width:3.5rem;height:3.5rem}
.s-8\@xs{width:4rem;height:4rem}
.w-1\@xs{width:.5rem}
.w-2\@xs{width:1rem}
.w-3\@xs{width:1.5rem}
.w-4\@xs{width:2rem}
.w-5\@xs{width:2.5rem}
.w-6\@xs{width:3rem}
.w-7\@xs{width:3.5rem}
.w-8\@xs{width:4rem}
.h-1\@xs{height:.5rem}
.h-2\@xs{height:1rem}
.h-3\@xs{height:1.5rem}
.h-4\@xs{height:2rem}
.h-5\@xs{height:2.5rem}
.h-6\@xs{height:3rem}
.h-7\@xs{height:3.5rem}
.h-8\@xs{height:4rem}
}
