/*! point.css */
@media(min-width:1200px){
.m-0\@xl{margin:0}
.m-1\@xl{margin:.5rem}
.m-2\@xl{margin:1rem}
.m-3\@xl{margin:1.5rem}
.m-4\@xl{margin:2rem}
.m-5\@xl{margin:2.5rem}
.m-6\@xl{margin:3rem}
.m-7\@xl{margin:3.5rem}
.m-8\@xl{margin:4rem}
.my-0\@xl{margin-top:0;margin-bottom:0}
.my-1\@xl{margin-top:.5rem;margin-bottom:.5rem}
.my-2\@xl{margin-top:1rem;margin-bottom:1rem}
.my-3\@xl{margin-top:1.5rem;margin-bottom:1.5rem}
.my-4\@xl{margin-top:2rem;margin-bottom:2rem}
.my-5\@xl{margin-top:2.5rem;margin-bottom:2.5rem}
.my-6\@xl{margin-top:3rem;margin-bottom:3rem}
.my-7\@xl{margin-top:3.5rem;margin-bottom:3.5rem}
.my-8\@xl{margin-top:4rem;margin-bottom:4rem}
.mx-0\@xl{margin-right:0;margin-left:0}
.mx-1\@xl{margin-right:.5rem;margin-left:.5rem}
.mx-2\@xl{margin-right:1rem;margin-left:1rem}
.mx-3\@xl{margin-right:1.5rem;margin-left:1.5rem}
.mx-4\@xl{margin-right:2rem;margin-left:2rem}
.mx-5\@xl{margin-right:2.5rem;margin-left:2.5rem}
.mx-6\@xl{margin-right:3rem;margin-left:3rem}
.mx-7\@xl{margin-right:3.5rem;margin-left:3.5rem}
.mx-8\@xl{margin-right:4rem;margin-left:4rem}
.mt-0\@xl{margin-top:0}
.mt-1\@xl{margin-top:.5rem}
.mt-2\@xl{margin-top:1rem}
.mt-3\@xl{margin-top:1.5rem}
.mt-4\@xl{margin-top:2rem}
.mt-5\@xl{margin-top:2.5rem}
.mt-6\@xl{margin-top:3rem}
.mt-7\@xl{margin-top:3.5rem}
.mt-8\@xl{margin-top:4rem}
.mr-0\@xl{margin-right:0}
.mr-1\@xl{margin-right:.5rem}
.mr-2\@xl{margin-right:1rem}
.mr-3\@xl{margin-right:1.5rem}
.mr-4\@xl{margin-right:2rem}
.mr-5\@xl{margin-right:2.5rem}
.mr-6\@xl{margin-right:3rem}
.mr-7\@xl{margin-right:3.5rem}
.mr-8\@xl{margin-right:4rem}
.mb-0\@xl{margin-bottom:0}
.mb-1\@xl{margin-bottom:.5rem}
.mb-2\@xl{margin-bottom:1rem}
.mb-3\@xl{margin-bottom:1.5rem}
.mb-4\@xl{margin-bottom:2rem}
.mb-5\@xl{margin-bottom:2.5rem}
.mb-6\@xl{margin-bottom:3rem}
.mb-7\@xl{margin-bottom:3.5rem}
.mb-8\@xl{margin-bottom:4rem}
.ml-0\@xl{margin-left:0}
.ml-1\@xl{margin-left:.5rem}
.ml-2\@xl{margin-left:1rem}
.ml-3\@xl{margin-left:1.5rem}
.ml-4\@xl{margin-left:2rem}
.ml-5\@xl{margin-left:2.5rem}
.ml-6\@xl{margin-left:3rem}
.ml-7\@xl{margin-left:3.5rem}
.ml-8\@xl{margin-left:4rem}
.p-0\@xl{padding:0}
.p-1\@xl{padding:.5rem}
.p-2\@xl{padding:1rem}
.p-3\@xl{padding:1.5rem}
.p-4\@xl{padding:2rem}
.p-5\@xl{padding:2.5rem}
.p-6\@xl{padding:3rem}
.p-7\@xl{padding:3.5rem}
.p-8\@xl{padding:4rem}
.py-0\@xl{padding-top:0;padding-bottom:0}
.py-1\@xl{padding-top:.5rem;padding-bottom:.5rem}
.py-2\@xl{padding-top:1rem;padding-bottom:1rem}
.py-3\@xl{padding-top:1.5rem;padding-bottom:1.5rem}
.py-4\@xl{padding-top:2rem;padding-bottom:2rem}
.py-5\@xl{padding-top:2.5rem;padding-bottom:2.5rem}
.py-6\@xl{padding-top:3rem;padding-bottom:3rem}
.py-7\@xl{padding-top:3.5rem;padding-bottom:3.5rem}
.py-8\@xl{padding-top:4rem;padding-bottom:4rem}
.px-0\@xl{padding-right:0;padding-left:0}
.px-1\@xl{padding-right:.5rem;padding-left:.5rem}
.px-2\@xl{padding-right:1rem;padding-left:1rem}
.px-3\@xl{padding-right:1.5rem;padding-left:1.5rem}
.px-4\@xl{padding-right:2rem;padding-left:2rem}
.px-5\@xl{padding-right:2.5rem;padding-left:2.5rem}
.px-6\@xl{padding-right:3rem;padding-left:3rem}
.px-7\@xl{padding-right:3.5rem;padding-left:3.5rem}
.px-8\@xl{padding-right:4rem;padding-left:4rem}
.pt-0\@xl{padding-top:0}
.pt-1\@xl{padding-top:.5rem}
.pt-2\@xl{padding-top:1rem}
.pt-3\@xl{padding-top:1.5rem}
.pt-4\@xl{padding-top:2rem}
.pt-5\@xl{padding-top:2.5rem}
.pt-6\@xl{padding-top:3rem}
.pt-7\@xl{padding-top:3.5rem}
.pt-8\@xl{padding-top:4rem}
.pr-0\@xl{padding-right:0}
.pr-1\@xl{padding-right:.5rem}
.pr-2\@xl{padding-right:1rem}
.pr-3\@xl{padding-right:1.5rem}
.pr-4\@xl{padding-right:2rem}
.pr-5\@xl{padding-right:2.5rem}
.pr-6\@xl{padding-right:3rem}
.pr-7\@xl{padding-right:3.5rem}
.pr-8\@xl{padding-right:4rem}
.pb-0\@xl{padding-bottom:0}
.pb-1\@xl{padding-bottom:.5rem}
.pb-2\@xl{padding-bottom:1rem}
.pb-3\@xl{padding-bottom:1.5rem}
.pb-4\@xl{padding-bottom:2rem}
.pb-5\@xl{padding-bottom:2.5rem}
.pb-6\@xl{padding-bottom:3rem}
.pb-7\@xl{padding-bottom:3.5rem}
.pb-8\@xl{padding-bottom:4rem}
.pl-0\@xl{padding-left:0}
.pl-1\@xl{padding-left:.5rem}
.pl-2\@xl{padding-left:1rem}
.pl-3\@xl{padding-left:1.5rem}
.pl-4\@xl{padding-left:2rem}
.pl-5\@xl{padding-left:2.5rem}
.pl-6\@xl{padding-left:3rem}
.pl-7\@xl{padding-left:3.5rem}
.pl-8\@xl{padding-left:4rem}
.t-0\@xl{top:0}
.t-1\@xl{top:.5rem}
.t-2\@xl{top:1rem}
.t-3\@xl{top:1.5rem}
.t-4\@xl{top:2rem}
.t-5\@xl{top:2.5rem}
.t-6\@xl{top:3rem}
.t-7\@xl{top:3.5rem}
.t-8\@xl{top:4rem}
.r-0\@xl{right:0}
.r-1\@xl{right:.5rem}
.r-2\@xl{right:1rem}
.r-3\@xl{right:1.5rem}
.r-4\@xl{right:2rem}
.r-5\@xl{right:2.5rem}
.r-6\@xl{right:3rem}
.r-7\@xl{right:3.5rem}
.r-8\@xl{right:4rem}
.b-0\@xl{bottom:0}
.b-1\@xl{bottom:.5rem}
.b-2\@xl{bottom:1rem}
.b-3\@xl{bottom:1.5rem}
.b-4\@xl{bottom:2rem}
.b-5\@xl{bottom:2.5rem}
.b-6\@xl{bottom:3rem}
.b-7\@xl{bottom:3.5rem}
.b-8\@xl{bottom:4rem}
.l-0\@xl{left:0}
.l-1\@xl{left:.5rem}
.l-2\@xl{left:1rem}
.l-3\@xl{left:1.5rem}
.l-4\@xl{left:2rem}
.l-5\@xl{left:2.5rem}
.l-6\@xl{left:3rem}
.l-7\@xl{left:3.5rem}
.l-8\@xl{left:4rem}
.s-1\@xl{width:.5rem;height:.5rem}
.s-2\@xl{width:1rem;height:1rem}
.s-3\@xl{width:1.5rem;height:1.5rem}
.s-4\@xl{width:2rem;height:2rem}
.s-5\@xl{width:2.5rem;height:2.5rem}
.s-6\@xl{width:3rem;height:3rem}
.s-7\@xl{width:3.5rem;height:3.5rem}
.s-8\@xl{width:4rem;height:4rem}
.w-1\@xl{width:.5rem}
.w-2\@xl{width:1rem}
.w-3\@xl{width:1.5rem}
.w-4\@xl{width:2rem}
.w-5\@xl{width:2.5rem}
.w-6\@xl{width:3rem}
.w-7\@xl{width:3.5rem}
.w-8\@xl{width:4rem}
.h-1\@xl{height:.5rem}
.h-2\@xl{height:1rem}
.h-3\@xl{height:1.5rem}
.h-4\@xl{height:2rem}
.h-5\@xl{height:2.5rem}
.h-6\@xl{height:3rem}
.h-7\@xl{height:3.5rem}
.h-8\@xl{height:4rem}
}
