/*! point.css */
@media(min-width:960px){
.m-0\@lg{margin:0}
.m-1\@lg{margin:.5rem}
.m-2\@lg{margin:1rem}
.m-3\@lg{margin:2rem}
.m-4\@lg{margin:4rem}
.my-0\@lg{margin-top:0;margin-bottom:0}
.my-1\@lg{margin-top:.5rem;margin-bottom:.5rem}
.my-2\@lg{margin-top:1rem;margin-bottom:1rem}
.my-3\@lg{margin-top:2rem;margin-bottom:2rem}
.my-4\@lg{margin-top:4rem;margin-bottom:4rem}
.mx-0\@lg{margin-right:0;margin-left:0}
.mx-1\@lg{margin-right:.5rem;margin-left:.5rem}
.mx-2\@lg{margin-right:1rem;margin-left:1rem}
.mx-3\@lg{margin-right:2rem;margin-left:2rem}
.mx-4\@lg{margin-right:4rem;margin-left:4rem}
.mt-0\@lg{margin-top:0}
.mt-1\@lg{margin-top:.5rem}
.mt-2\@lg{margin-top:1rem}
.mt-3\@lg{margin-top:2rem}
.mt-4\@lg{margin-top:4rem}
.mr-0\@lg{margin-right:0}
.mr-1\@lg{margin-right:.5rem}
.mr-2\@lg{margin-right:1rem}
.mr-3\@lg{margin-right:2rem}
.mr-4\@lg{margin-right:4rem}
.mb-0\@lg{margin-bottom:0}
.mb-1\@lg{margin-bottom:.5rem}
.mb-2\@lg{margin-bottom:1rem}
.mb-3\@lg{margin-bottom:2rem}
.mb-4\@lg{margin-bottom:4rem}
.ml-0\@lg{margin-left:0}
.ml-1\@lg{margin-left:.5rem}
.ml-2\@lg{margin-left:1rem}
.ml-3\@lg{margin-left:2rem}
.ml-4\@lg{margin-left:4rem}
.p-0\@lg{padding:0}
.p-1\@lg{padding:.5rem}
.p-2\@lg{padding:1rem}
.p-3\@lg{padding:2rem}
.p-4\@lg{padding:4rem}
.py-0\@lg{padding-top:0;padding-bottom:0}
.py-1\@lg{padding-top:.5rem;padding-bottom:.5rem}
.py-2\@lg{padding-top:1rem;padding-bottom:1rem}
.py-3\@lg{padding-top:2rem;padding-bottom:2rem}
.py-4\@lg{padding-top:4rem;padding-bottom:4rem}
.px-0\@lg{padding-right:0;padding-left:0}
.px-1\@lg{padding-right:.5rem;padding-left:.5rem}
.px-2\@lg{padding-right:1rem;padding-left:1rem}
.px-3\@lg{padding-right:2rem;padding-left:2rem}
.px-4\@lg{padding-right:4rem;padding-left:4rem}
.pt-0\@lg{padding-top:0}
.pt-1\@lg{padding-top:.5rem}
.pt-2\@lg{padding-top:1rem}
.pt-3\@lg{padding-top:2rem}
.pt-4\@lg{padding-top:4rem}
.pr-0\@lg{padding-right:0}
.pr-1\@lg{padding-right:.5rem}
.pr-2\@lg{padding-right:1rem}
.pr-3\@lg{padding-right:2rem}
.pr-4\@lg{padding-right:4rem}
.pb-0\@lg{padding-bottom:0}
.pb-1\@lg{padding-bottom:.5rem}
.pb-2\@lg{padding-bottom:1rem}
.pb-3\@lg{padding-bottom:2rem}
.pb-4\@lg{padding-bottom:4rem}
.pl-0\@lg{padding-left:0}
.pl-1\@lg{padding-left:.5rem}
.pl-2\@lg{padding-left:1rem}
.pl-3\@lg{padding-left:2rem}
.pl-4\@lg{padding-left:4rem}
.t-0\@lg{top:0}
.t-1\@lg{top:.5rem}
.t-2\@lg{top:1rem}
.t-3\@lg{top:2rem}
.t-4\@lg{top:4rem}
.r-0\@lg{right:0}
.r-1\@lg{right:.5rem}
.r-2\@lg{right:1rem}
.r-3\@lg{right:2rem}
.r-4\@lg{right:4rem}
.b-0\@lg{bottom:0}
.b-1\@lg{bottom:.5rem}
.b-2\@lg{bottom:1rem}
.b-3\@lg{bottom:2rem}
.b-4\@lg{bottom:4rem}
.l-0\@lg{left:0}
.l-1\@lg{left:.5rem}
.l-2\@lg{left:1rem}
.l-3\@lg{left:2rem}
.l-4\@lg{left:4rem}
.s-1\@lg{width:.5rem;height:.5rem}
.s-2\@lg{width:1rem;height:1rem}
.s-3\@lg{width:2rem;height:2rem}
.s-4\@lg{width:4rem;height:4rem}
.w-1\@lg{width:.5rem}
.w-2\@lg{width:1rem}
.w-3\@lg{width:2rem}
.w-4\@lg{width:4rem}
.h-1\@lg{height:.5rem}
.h-2\@lg{height:1rem}
.h-3\@lg{height:2rem}
.h-4\@lg{height:4rem}
}
