/*! point.css */
@media(min-width:720px){
.m-0\@md{margin:0}
.m-1\@md{margin:.5rem}
.m-2\@md{margin:1rem}
.m-3\@md{margin:2rem}
.m-4\@md{margin:4rem}
.my-0\@md{margin-top:0;margin-bottom:0}
.my-1\@md{margin-top:.5rem;margin-bottom:.5rem}
.my-2\@md{margin-top:1rem;margin-bottom:1rem}
.my-3\@md{margin-top:2rem;margin-bottom:2rem}
.my-4\@md{margin-top:4rem;margin-bottom:4rem}
.mx-0\@md{margin-right:0;margin-left:0}
.mx-1\@md{margin-right:.5rem;margin-left:.5rem}
.mx-2\@md{margin-right:1rem;margin-left:1rem}
.mx-3\@md{margin-right:2rem;margin-left:2rem}
.mx-4\@md{margin-right:4rem;margin-left:4rem}
.mt-0\@md{margin-top:0}
.mt-1\@md{margin-top:.5rem}
.mt-2\@md{margin-top:1rem}
.mt-3\@md{margin-top:2rem}
.mt-4\@md{margin-top:4rem}
.mr-0\@md{margin-right:0}
.mr-1\@md{margin-right:.5rem}
.mr-2\@md{margin-right:1rem}
.mr-3\@md{margin-right:2rem}
.mr-4\@md{margin-right:4rem}
.mb-0\@md{margin-bottom:0}
.mb-1\@md{margin-bottom:.5rem}
.mb-2\@md{margin-bottom:1rem}
.mb-3\@md{margin-bottom:2rem}
.mb-4\@md{margin-bottom:4rem}
.ml-0\@md{margin-left:0}
.ml-1\@md{margin-left:.5rem}
.ml-2\@md{margin-left:1rem}
.ml-3\@md{margin-left:2rem}
.ml-4\@md{margin-left:4rem}
.p-0\@md{padding:0}
.p-1\@md{padding:.5rem}
.p-2\@md{padding:1rem}
.p-3\@md{padding:2rem}
.p-4\@md{padding:4rem}
.py-0\@md{padding-top:0;padding-bottom:0}
.py-1\@md{padding-top:.5rem;padding-bottom:.5rem}
.py-2\@md{padding-top:1rem;padding-bottom:1rem}
.py-3\@md{padding-top:2rem;padding-bottom:2rem}
.py-4\@md{padding-top:4rem;padding-bottom:4rem}
.px-0\@md{padding-right:0;padding-left:0}
.px-1\@md{padding-right:.5rem;padding-left:.5rem}
.px-2\@md{padding-right:1rem;padding-left:1rem}
.px-3\@md{padding-right:2rem;padding-left:2rem}
.px-4\@md{padding-right:4rem;padding-left:4rem}
.pt-0\@md{padding-top:0}
.pt-1\@md{padding-top:.5rem}
.pt-2\@md{padding-top:1rem}
.pt-3\@md{padding-top:2rem}
.pt-4\@md{padding-top:4rem}
.pr-0\@md{padding-right:0}
.pr-1\@md{padding-right:.5rem}
.pr-2\@md{padding-right:1rem}
.pr-3\@md{padding-right:2rem}
.pr-4\@md{padding-right:4rem}
.pb-0\@md{padding-bottom:0}
.pb-1\@md{padding-bottom:.5rem}
.pb-2\@md{padding-bottom:1rem}
.pb-3\@md{padding-bottom:2rem}
.pb-4\@md{padding-bottom:4rem}
.pl-0\@md{padding-left:0}
.pl-1\@md{padding-left:.5rem}
.pl-2\@md{padding-left:1rem}
.pl-3\@md{padding-left:2rem}
.pl-4\@md{padding-left:4rem}
.t-0\@md{top:0}
.t-1\@md{top:.5rem}
.t-2\@md{top:1rem}
.t-3\@md{top:2rem}
.t-4\@md{top:4rem}
.r-0\@md{right:0}
.r-1\@md{right:.5rem}
.r-2\@md{right:1rem}
.r-3\@md{right:2rem}
.r-4\@md{right:4rem}
.b-0\@md{bottom:0}
.b-1\@md{bottom:.5rem}
.b-2\@md{bottom:1rem}
.b-3\@md{bottom:2rem}
.b-4\@md{bottom:4rem}
.l-0\@md{left:0}
.l-1\@md{left:.5rem}
.l-2\@md{left:1rem}
.l-3\@md{left:2rem}
.l-4\@md{left:4rem}
.s-1\@md{width:.5rem;height:.5rem}
.s-2\@md{width:1rem;height:1rem}
.s-3\@md{width:2rem;height:2rem}
.s-4\@md{width:4rem;height:4rem}
.w-1\@md{width:.5rem}
.w-2\@md{width:1rem}
.w-3\@md{width:2rem}
.w-4\@md{width:4rem}
.h-1\@md{height:.5rem}
.h-2\@md{height:1rem}
.h-3\@md{height:2rem}
.h-4\@md{height:4rem}
}
